*,*::before, *::after {
text-align: center;

}


.box {
  background-image: url(../image/delani1.jpg);
  /* width: 100%;  */
  padding: 200px 100px;
  margin: 100px;
  color: white;
  background-size: cover;
  background-position: center;
}



.mouse {
  animation: shake 1s;
  animation-iteration-count: infinite

}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.about-us p{ 
  font-size: small;

}

.img {
  background-image: url(../image/delani2.jpg);
  /* width: 100%; */
  padding: 200px 100px;
  margin: 100px;
  color: white;
  background-size: cover;
  background-position: center;
  font-size: small;

}


.container {

  background-image: url(../image/delani4.jpg);
  padding: 200px 100px;
  margin: 100px;
  background-size: cover;
  background-position: center;
  color: white;
      
}




.im {
  position: absolute;
  padding: 200px 100px;
  width: 500px;
  height: 500px;
  background: transparent;
  justify-self: center;
 
}

*,*::before, *::after {
  image-orientation: relative;
  
  }

.image_portfolio {

  white-space: nowrap;
  margin-left: 200px;
  margin-right: 100px;
  backface-visibility: visible;
  transition: .5 ease;
  display: block;
  position: relative;

  
  }  

   

  .image_img{
    display: block;
    width: 100%;
    white-space: nowrap;
    position: relative;
  }

  .image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 0, 0.234);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition-duration: 0.25s;
  }


  .image_overlay:hover{
    opacity: 1;
  }

  .image_img2{
    display: block;
    width: 100%;
    white-space: nowrap;
    position: relative
  }


  .image_overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition-duration: 0.25s;
  }

  .image_overlay2:hover {
    opacity: 1;
  }



.row {

  display: flex;
}

.column {
flex: 25%;
padding: 5px;
font-size: 15px;

}


.button {
 font-size: 10px;

}














