

.box {
  background-image: url(../image/delani1.jpg);
  width: 100%; 
  padding: 200px 200px;
  color: white;
  
}

.container {

  background-image: url(../image/delani4.jpg);
  padding: 200px 100px;
  margin: 100px;


}