*,*::before, *::after {
text-align: center;

}


.box {
  background-image: url(../image/delani1.jpg);
  width: 100%; 
  padding: 200px 100px;
  color: white;
  background-size: cover;
  background-position: center;
}

.container {

  background-image: url(../image/delani4.jpg);
  padding: 200px 100px;
  margin: 100px;

  background-size: cover;
  background-position: center;
}

/* .body {
  text-align: center;
} */