*,*::before, *::after {
text-align: center;

}


.box {
  background-image: url(../image/delani1.jpg);
  width: 100%; 
  padding: 200px 100px;
  color: white;
  background-size: cover;
  background-position: center;
}

.img {
  background-image: url(../image/delani2.jpg);
  width: 100%;
  padding: 200px 100px;
  color: white;
  background-size: cover;
  background-position: center;

}

.container {

  background-image: url(../image/delani4.jpg);
  padding: 200px 100px;
  margin: 100px;

  background-size: cover;
  background-position: center;
}

/* .body {
  text-align: center;
} */


.row {

  display: flex;
}

.column {
flex: 33.33%;
padding: 5px;

}

/* .column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
} */